.mint-swipe-indicator{
    background:#fff;
    opacity:.8;
}
.mint-swipe-indicator.is-active{
    background:#ff734d;
    width:30px;
    border-radius: 8px;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #ff734d !important;
}
.mint-searchbar-core{
    font-size: 14px;
    padding-left: 10px;
}
/* .mui-segmented-control .mui-control-item{
    width:100% !important;
} */
.mui-segmented-control.mui-segmented-control-inverted.mui-segmented-control-vertical .mui-control-item {
    width:100%;
    border-bottom: none !important;
    height:56px;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    /* border-right: 1px solid #c8c7cc; */
}
/* .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
    color: #ff734d !important;
    border-left: 3px solid #ff734d;
    background:#fff !important;
} */
.mint-searchbar{
    background:#efeff4;
    border-bottom: 2px solid #e8e8ed;
}
/* .mui-table-view{
    display: flex;
    flex-wrap: wrap;
    border:none !important;
} */
.mui-scroll>.mui-table-view>.mui-table-view-cell{
    width:33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:none !important;
    font-size: 0.73rem;
    font-weight: 300;
}
.mui-scroll{
    padding:8px 8px 16px 8px;
}
.mui-table-view:after,.mui-table-view-cell:after,.mui-table-view:before{
    height:0 !important;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear,.mui-input-row .mui-input-password ~ .mui-icon-eye{
    line-height: 30px;
}
.mui-input-row .mui-input-password ~ .mui-icon-eye.mui-active{
    color:#ff734c !important;
}